@import './settings';
@import './mixins';

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

    color: white;
    font-family: "Arimo", Arial, sans-serif;
    font-weight: lighter;
    background-color: white;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: inherit;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

a {
    @include transition(opacity 0.1s ease-in-out)
}
a:visited {
    color: unset;
}
a:hover {
    opacity: 0.8;
}


@media (max-width: $mobile-width) {
    #page {
        margin-top: 48px;
    }
}
