@import './settings';

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

    color: white;
    font-family: "Arimo", Arial, sans-serif;
    font-weight: lighter;
    background-color: #f0f1f6;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: inherit;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

#content {
    margin-left: 265px;
}


