#home {

}

#home__content {
    position: absolute;
    z-index: 1;

    top: 45vh;
    left: 0;
    right: 36%;

    padding: 15px 32px;

    background-color: rgba(136, 175, 29, 0.85);
    text-align: right;

    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 14px;
    }
}

#home__content__body {

    font-size: 13px;
}

#home__img {
    position: absolute;
    top: 0; bottom: 0;
    right: 0;left: 0;
    z-index: 0;

    padding-top: 12%;
    max-width: 100%;

    img {
        max-width: 100%;

    }
}
