@import "../../../sass/mixins";
@import "../../../sass/settings";

.left-ban {
    position: absolute;
    top: 0; bottom: 0;
    left: 0;
    width: 200px;
    padding-left: 65px;

    z-index: 100;

    background-color: white;
    color: #9D9D9D;

    .vertical-absolute-center {
        height: 400px;
    }
}

.left-ban__heading {
    white-space: nowrap;

    h1 {
        font-size: 49px;
        @include transform(translateX(-23px))

    }
    h2 {
        font-size: 16px;
    }
}

.left-ban__labels, .left-ban__contact {
    font-size: 16px;
}

.left-ban__labels {
    margin-top: 74px;
    max-width: 180px;
}
.left-ban__labels p {
    margin: 0 0 7px 0;
    padding: 0;
}
.left-ban__contact p {
    margin: 0 0 3px 0;
    padding: 0;
}

.left-ban__contact {
    margin-top: 77px;
}

.left-ban__socials {
    padding-top: 60px;

    a {
        color: $hands-grey;
        padding: 0 3px;
        margin: 0 2px;

        &:first-of-type {
            padding-left: 0;
            margin-left: 0;
        }
    }
}

#contact-email {
    display: inline-block;
    width: auto;
    min-height: 2.8em;
}

.instagram-link {
    font-size: 1.2em;

    position: relative;
    top: 1px;
}
.houzz-link {
    img {
        position: relative;
        top: 3px;
        left: -3px;
        max-width: 18px;
    }
}

@media (max-width: $mobile-width) {
    .left-ban {
        position: relative;
        width: auto;
        max-width: 100%;
        padding-left: 47px;
    }
    .left-ban .vertical-absolute-center {
        position: relative;
        top: unset;
        @include transform(none);
    }

    .left-ban__heading h1 {
        font-size: 40px;
        white-space: unset;
    }

    .left-ban__labels {
        max-width: none;
    }
    .left-ban__labels, .left-ban__contact {
        margin-top: 40px;
        font-size: 18px;
    }

    .left-ban__socials {
        font-size: 1.6em;

        a {
            padding: 0 3px;
            margin: 0 4px;
        }
    }
    .houzz-link {
        img {
            max-width: 26px;
        }
    }
}



