@import '../../../sass/mixins';

$transition-speed: 1.04s;

.images {
    position: relative;
    height: 100vh;
    margin-right: 40px;
    width: 100%;
    overflow: hidden;
}

.images__img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.direction-left {
        @include animation(slideOutToRight $transition-speed forwards);
    }
    &.direction-right {
        @include animation(slideOutToLeft $transition-speed forwards);
    }
}
.images__img-container--display {
    &.direction-left {
        @include animation(slideInFromRight $transition-speed forwards);
    }
    &.direction-right {
        @include animation(slideInFromLeft $transition-speed forwards);
    }
}

.images__img-container__img {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

@include keyframes(slideOutToLeft) {
    from {
        @include transform(translateX(0));
    }
    to {
        @include transform(translateX(-100%));
    }
}
@include keyframes(slideOutToRight) {
    from {
        @include transform(translateX(0));
    }
    to {
        @include transform(translateX(100%));
    }
}


@include keyframes(slideInFromLeft) {
    from {
        @include transform(translateX(100%));
    }
    to {
        @include transform(translateX(0));
    }
}
@include keyframes(slideInFromRight) {
    from {
        @include transform(translateX(-100%));
    }
    to {
        @include transform(translateX(0));
    }
}
