@import '../../../sass/mixins';

.images {
    position: relative;
    height: 100vh;
    margin-right: 40px;
    width: 100%;
    overflow: hidden;
}

.images__img-container {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;

    @include transform(translateX(100%));
    @include transition(transform 1s ease-in-out);
}
.images__img-container--display {
    @include transform(translateX(0));
}

.images__img-container__img {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}
